# .coveragerc to control coverage.py
# see https://coverage.readthedocs.org/en/coverage-4.0.3/config.html

[run]
branch = True
include = tractor/*

[report]
# exclude_lines =
#    pragma: no cover
#    def __repr__

[html]
directory = coverage_html_report
