*.pyc
*~
*.png
*.pdf
tractor/*.pyc
tractor/*.so
tractor/build/
tractor/ceres_wrap.cxx
tractor/ceres_wrap.o
tractor/emfit.py
tractor/emfit_wrap.c
tractor/mix.py
tractor/mix_wrap.c
doc/_build/
html/
astrometry
*.log
*.aux
*.dvi
headers/